<h1>{{ list.name }}</h1>

<div class="empty">
<p>No tasks yet.</p>
</div>

<div class="task-list">{% for task in list.tasks %}
<div class="task">
<input type="checkbox" name="task_{{ task.id }}_completed" id="task_{{ task.id }}_completed">
<label for="task_{{ task.id }}_completed">{{ task.name }}</label>
<button onclick="deleteTask(this)" data-task-id="{{ task.id }}">Delete</button>
</div>
{% endfor %}</div>

<form action="{{ url_for('task.make_task', list_id=list.id) }}" method="post">
    <label for="task_name">Task name</label>
    <input type="text" name="task_name" id="task_name">
    <label for="task_due_date">Task due date</label>
    <input type="datetime-local" name="task_due_date" id="task_due_date">
    <button type="submit">Submit</button>
</form>

<script>
function deleteTask(button) {
    const taskId = button.dataset.taskId;

    fetch(`/{{ list.id }}/t/${taskId}/`, {
        method: "DELETE",
    }).then(response => {
        if (response.ok) {
            console.log("Deleted.");
            button.parentElement.remove();
        } else {
            console.error("Couldn't delete task");
        }
    }).catch((error) => {
        console.error("Couldn't delete task", error);
    })
}
</script>